<!DOCTYPE html>
<html lang="en">
    {% extends "admin/layout.html" %}
    {% block body %}

        <div class="page-wrapper">

            <!-- Page Content-->
            <div class="page-content-tab">

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Ecommerce</a></li>
                                        <li class="breadcrumb-item active">List</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Məhsulların siyahısı</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
    
                                    <p class="text-muted mb-4 font-13">
                                       
                                    </p>

<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead>
    <tr>
        <th>Sifariş Nömrəsi</th>
        <th>Məhsul Adı</th>
        
        
        <th>Qiymət</th>
        <th>Status</th>
        <th>Düzəliş etmək</th>
    </tr>
    </thead>


    <tbody>
        {% for i in orderlist%}
    <tr>
        <td>{{i.Id}}</td>
        <td>{{i.product.Name}}</td>
      
        <td>{{i.Price}}</td>
        <td>
        {%  if i.Status==0 %}
        <a href="/shop/do/{{i.Id}}" class="btn btn-primary">İcra et</a>
       
        {% endif %}
        {%  if i.Status==1 %}
        <label>Icra edildi</label>
       
        {% endif %}
    </td>
    
      

        <td>
            <a href="/admin/delorder/{{i.Id}}"><i class="far fa-trash-alt text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>        
</div>
</div>
</div> <!-- end col -->
</div> <!-- end row -->

</div><!-- container -->
{% endblock %}


</html>
