<!DOCTYPE html>
<html lang="en">
   
    {% extends "shop/layout.html" %}
    {% block body %}

        <div class="page-wrapper">

            <!-- Page Content-->
            <div class="page-content-tab">

                <div class="container">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Ecommerce</a></li>
                                        <li class="breadcrumb-item active">Detail</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Procuct Detail</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                    <form id="Forms" action="{{url_for('admin.prodetails', id = product.Id)}}" method="POST" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6 align-self-center">

                                            <!-- {%for i in product.images%}
                                            
                                            <img width="400px" style="margin: 10px;" src="{{url_for('static', filename ='upload/'+i.Image)}}" alt="">
                                                 {%endfor%}
                                         -->
                                         <img width="400px" style="margin: 10px;" src="{{url_for('static', filename ='upload/'+product.MainImage)}}" alt="">

                                        </div><!--end col-->

                                        <div class="col-lg-6 align-self-center">
                                            <div class="single-pro-detail">
                                                
                                                <div class="custom-border mb-3"></div>
                                                <div>
                                                <label><h5> Mağaza:{{product.Shop.Name}} </h5></label>
                                            </div>
                                                <label><h5 id="Name"> Ad:{{product.Name}} </h5></label>
                                                <label><h5> Kateqoriya:{{product.Category.Name}} </h5></label>
                                                <div>
                                                <label><h5> Rəng:</h5></label>
                                                {% for each in  product.pcolors %}
                                                           <label>{{each.Name}}</label>
                                                          {% endfor %}
                                                        </div>
                                                        <div>
                                                        <label><h5> Ölçü:</h5></label>
                                                        {% for each in  product.psizes %}
                                                        <label>{{each.Name}}.</label>
                                                          {% endfor %}
                                                        </div>
                                                </div>
                                                <div>
                                                <label for="count"><h5>Say:{{product.Count}}</h5></label>
                                            </div>
                                                
                                                <label><h5> Qiymət:{{product.Price}} AZN</h5></label>
                                                <ul class="list-inline mb-2 product-review">
                                                    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                                    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                                    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                                    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                                    <li class="list-inline-item"><i class="mdi mdi-star-half text-warning"></i></li>
                                                    <li class="list-inline-item">4.5 (9830 reviews)</li>
                                                </ul>
                                                
                                            </div>
                                        </div><!--end col-->                                            
                                    </div><!--end row-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                <!--  Modal content for the above example -->
         
        
   
    <script>
    function GetSelectedValue(){
        
    var size=document.getElementById("size[]");
    var result = size.options[size.selectedIndex];
    sessionStorage.setItem('sizes',result.value);
    sessionStorage.getItem('sizes');
    var color=document.getElementById("color[]");
    var result1 = color.options[color.selectedIndex];
    sessionStorage.setItem('colors',result1.value);
    sessionStorage.getItem('colors');
    var count=document.getElementById("Count");
    sessionStorage.setItem('Count',count.value);
    sessionStorage.getItem('Count');
    }
    </script>
        {% endblock %}

    </html>










