<!DOCTYPE html>
<html lang="en">
    {% extends "admin/layout.html" %}
    {% block body %}

        <div class="page-wrapper">

            <!-- Page Content-->
            <div class="page-content-tab">

                <div class="container">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Ecommerce</a></li>
                                        <li class="breadcrumb-item active">Detail</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Procuct Detail</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                    <form id="Forms" action="{{url_for('prodetails', id = product.Id)}}" method="POST" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6 align-self-center">

                                            {% for image in product.images %}
                                            
                                            <img width="400px" style="margin: 10px;" src="{{url_for('static', filename ='upload/'+ image.Image)}}" alt="">
                                  
                                            {% endfor %}
                                       
                                        </div><!--end col-->
                                        <form id="Forms" action="{{url_for('prodetails', id = product.Id)}}" method="POST" enctype="multipart/form-data">

                                        <div class="col-lg-6 align-self-center">
                                            <div class="single-pro-detail">
                                                
                                                <div class="custom-border mb-3"></div>
                                                <div>
                                                <label><h5> Mağaza:{{product.Shop.Name}} </h5></label>
                                            </div>
                                                <label><h5> Ad:{{product.Name}} </h5></label>
                                                <label><h5> Kateqoriya:{{product.Category.Name}} </h5></label>

                                              
                                                <h6 class="text-muted font-13 d-inline-block align-middle mr-2">Rəng :</h6> 
                                                <div class="radio2 radio-info2 form-check-inline ml-2">
                                                    <!-- <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                                    <label for="inlineRadio1"></label> -->
                                                    <select name='color[]' class="custom-select" id="status-select" >
                                                        {% for each in  product.pcolors %}
                                                            <option value="{{each.Id}}">{{each.Name}}</option>
                                                          {% endfor %}
                                                      </select>
                                                     
                                                </div>
                                                <div>
                                                    <h6 class="text-muted font-13 d-inline-block align-middle mr-2">Ölçü :</h6> 

                                                    <select name='size[]' class="custom-select" id="status-select" >
                                                        {% for each in  product.psizes %}
                                                            <option value="{{each.Id}}">{{each.Name}}</option>
                                                          {% endfor %}
                                                      </select>
                                                </div>
                                                <label for="count"><h5>Say</h5></label>
                                                <input id="Count" name="Count" type="number" class="form-control" />    
                                                
                                                <label><h5> Qiymət:{{product.Price}} AZN</h5></label>
                                                <ul class="list-inline mb-2 product-review">
                                                    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                                    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                                    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                                    <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                                    <li class="list-inline-item"><i class="mdi mdi-star-half text-warning"></i></li>
                                                    <li class="list-inline-item">4.5 (9830 reviews)</li>
                                                </ul>
                                                <div class="quantity mt-3 ">
                                                    <a href="" class="btn btn-primary btn-sm text-white px-4 d-inline-block"><i class="mdi mdi-cart mr-2"></i>Add to Cart</a>

                                                </div>   
                                                <div class="quantity mt-3 ">

                                                <a href="/order/{{product.Id}}/"btn btn-primary btn-sm text-white px-4 d-inline-block"><i class="mdi mdi-cart mr-2"></i>Sifariş edin </a>

                                            </div>   

                                            </div>
                                        </div><!--end col-->                                            
                                    </div><!--end row-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                <!--  Modal content for the above example -->
         
        
   
    {% endblock %}
    </html>










