<!DOCTYPE html>
<html lang="en">
    {% extends "admin/layout.html" %}
    {% block body %}

   

        <div class="page-wrapper">
            <!-- Page Content-->
            <div class="page-content-tab">

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Ecommerce</a></li>
                                        <li class="breadcrumb-item active">List</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">İstifadəçilərin siyahısı siyahısı</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
    
                                    
                                    <p class="text-muted mb-4 font-13">
                                       
                                    </p>
    
                                    <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <td>Id</td>
                                            <th>Ad,Soayd</th>
                                            
                    
                                            <th>Elekton poçt</th>
                                            <th>Sifariş miqdarı</th>
                                            <th>Sifarişlər</th>
                                        </tr>
                                        </thead>
    
    
                                        <tbody>
                                            {% for i in userlist%}
                                        <tr>
                                            <td>
                                                {{i.Id}}
                                            </td>
                                            <td>{{i.Name}} {{i.Surname}}</td>
                                            <td>{{i.Email}}</td>
                                            <td> 0 </td>
                                            <td>
                                                <a href="orderl/{{i.Id}}" class="btn btn-primary">Sifarişlər</a>

                                            </td>

                                          
                                            
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>        
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </div><!-- container -->
               
                {% endblock %}
            

</html>