absl-py==0.10.0
alembic==1.4.3
appdirs==1.4.4
astroid==2.4.2
certifi==2020.6.20
click==7.1.2
colorama==0.4.3
cycler==0.10.0
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
flax==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jax==0.1.75
Jinja2==2.11.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
msgpack==1.0.0
mysql-connector-python==8.0.22
numpy==1.19.1
opt-einsum==3.3.0
Pillow==7.2.0
pyahocorasick==1.4.0
pylint==2.5.3
PyMySQL==0.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
python-editor==1.0.4
six==1.15.0
SQLAlchemy==1.3.20
textsearch==0.0.17
toml==0.10.1
Unidecode==1.1.1
virtualenv==20.0.31
Werkzeug==1.0.1
wrapt==1.12.1
