<!DOCTYPE html>
<html lang="en">
    {% extends "client/layout.html" %}
    {% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="    {{  url_for('static',filename='template/assets/images/icons/apple-touch-icon.png')  }}">
    <link rel="icon" type="image/png" sizes="32x32" href=" {{  url_for('static',filename='template/assets/images/icons/favicon-32x32.png')  }}">
    <link rel="icon" type="image/png" sizes="16x16" href="    {{  url_for('static',filename='template/assets/images/icons/favicon-16x16.png')  }}    ">
    <link rel="manifest" href="    {{  url_for('static',filename='template/assets/images/icons/site.webmanifest')  }}">
    <link rel="mask-icon" href="    {{  url_for('static',filename='template/assets/images/icons/safari-pinned-tab.svg')  }}" color="#666666">
    <link rel="shortcut icon" href="    {{  url_for('static',filename='template/assets/images/icons/favicon.ico')  }}">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="    {{  url_for('static',filename='template/assets/css/bootstrap.min.css')  }}">
    <link rel="stylesheet" href="    {{  url_for('static',filename='template/assets/css/plugins/owl-carousel/owl.carousel.css')  }}
    ">
    <link rel="stylesheet" href="{{  url_for('static',filename='template/assets/css/plugins/magnific-popup/magnific-popup.css')  }}
    ">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{{  url_for('static',filename='template/assets/css/style.css')  }}
    ">
    <link rel="stylesheet" href="{{  url_for('static',filename='template/assets/css/plugins/nouislider/nouislider.css')  }}">

</head>


<body>
    <div class="page-wrapper">
       

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Menyu</a></li>
                        <li class="breadcrumb-item"><a href="#">Məhsullar</a></li>
                        
                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <form id="Forms" action="{{url_for('roots.prodetails', id = product.Id)}}" method="POST" enctype="multipart/form-data">

            <div class="page-content">
                <div class="container">
             

                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                             
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            {% for image in product.images %}
                                            <img id="product-zoom" src="{{url_for('static', filename ='upload/'+ image.Image)}}"
                                             data-zoom-image="{{url_for('static', filename ='upload/'+ image.Image)}}">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                            {%endfor%}
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            {% for image in product.images %}
                                            <a class="product-gallery-item active" href="#" data-image="{{url_for('static', filename ='upload/'+ image.Image)}}"
                                             data-zoom-image="{{url_for('static', filename ='upload/'+ image.Image)}}">
                                                <img src="{{url_for('static', filename ='upload/'+ image.Image)}}" alt="product side">
                                            </a>
                                            {%endfor%}
                                          
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->

                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">{{product.Name}}</h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 2 )</a>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                      {{product.Price}} AZN
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        {{product.Category.Name}}
                                        {{product.Shop.Name}}
                                    </div><!-- End .product-content -->

                                    <div class="details-filter-row details-row-size">
                                        <label>Rəng:</label>
                                        <div class="select-custom">
                                            <!-- <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                            <label for="inlineRadio1"></label> -->
                                            <select name='color[]' id="color[]" class="form-control" id="status-select" >
                                                {% for each in  product.pcolors %}
                                                    <option value="{{each.Id}}">{{each.Name}}</option>
                                                  {% endfor %}
                                              </select>
                                          
                                        </div>
                                        
                                    </div><!-- End .details-filter-row -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="size">Ölçü:</label>
                                        <div class="select-custom">
                                            <select name='size[]' id="size[]" class="form-control" id="status-select">
                                                {% for each in  product.psizes %}
                                                <option value="{{each.Id}}">{{each.Name}}</option>
                                              {% endfor %}
                                            </select>
                                           
                                              </select>
                                        </div><!-- End .select-custom -->

                                       
                                    </div><!-- End .details-filter-row -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Say:</label>
                                        <div class="product-details-quantity">
                                            <input id="Count" name="Count" type="number" class="form-control" />                                         </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->
                                  
                                    <div class="product-details-action">
                                        <a href=" {{url_for('roots.order',productid=product.Id)}}" class="btn-product btn-cart" onclick="GetSelectedValue()"><i class="mdi mdi-cart mr-2"></i>Sifariş edin </a>
                                    </div>

                                     <div class="product-details-action">
                                    <div>

                                   
                                       
                                            <!-- <a href="#" class="btn-product btn-cart" title="Wishlist"><span>Add to Cart</span></a> -->
                                       
                                    </div><!-- End .product-details-action -->
           
                                    <div>

                                      
                                            <!-- <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a> -->
                                      
                                    </div><!-- End .product-details-action -->
                                </div>
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Məhsul Haqqında</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Çatdırılma </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Rəylər (2)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Məhsul Haqqında</h3>
                                    <p> {{product.Description}} </p>
                                    <ul>
                                        <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                        
                                    </ul>

                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            
                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                                <div class="product-desc-content">
                                    <h3>Çatdırılma</h3>
                                    <p> 
                                        Mağaza tərəfindən həyata keçirilir
                                </p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                <div class="reviews">
                                    <h3>Şərhlər (2)</h3>
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">Nigar.</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">6 gün əvvəl</span>
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <h4>yaxşı</h4>

                                                <div class="review-content">
                                                    <p>
                                                        Yaxsi 
                                                    </p>
                                                </div><!-- End .review-content -->

                                                
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->

                                
                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

                    <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="product.html">
                                    <img src="assets/images/products/product-4.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Brown paperbag waist <br>pencil skirt</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $60.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 2 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                        <img src="assets/images/products/product-4-thumb.jpg" alt="product desc">
                                    </a>
                                    <a href="#">
                                        <img src="assets/images/products/product-4-2-thumb.jpg" alt="product desc">
                                    </a>

                                    <a href="#">
                                        <img src="assets/images/products/product-4-3-thumb.jpg" alt="product desc">
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-out">Out of Stock</span>
                                <a href="product.html">
                                    <img src="assets/images/products/product-6.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Jackets</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Khaki utility boiler jumpsuit</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="out-price">$120.00</span>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 6 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-top">Top</span>
                                <a href="product.html">
                                    <img src="assets/images/products/product-11.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Shoes</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Light brown studded Wide fit wedges</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $110.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 1 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                        <img src="assets/images/products/product-11-thumb.jpg" alt="product desc">
                                    </a>
                                    <a href="#">
                                        <img src="assets/images/products/product-11-2-thumb.jpg" alt="product desc">
                                    </a>

                                    <a href="#">
                                        <img src="assets/images/products/product-11-3-thumb.jpg" alt="product desc">
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/product-10.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Jumpers</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Yellow button front tea top</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $56.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 0 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/product-7.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Jeans</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Blue utility pinafore denim dress</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $76.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 2 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .owl-carousel -->

                </div><!-- End .container -->
            </div><!-- End .page-content -->
            </form>
        </main><!-- End .main -->

      
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Sticky Bar -->
   

    <!-- Mobile Menu -->

    
            
        

    <!-- Plugins JS File -->
    <script src="{{  url_for('static',filename='template/assets/js/jquery.min.js')  }}"></script>
    <script src="{{  url_for('static',filename='template/assets/js/bootstrap.bundle.min.js')  }}"></script>
    <script src="{{  url_for('static',filename='template/assets/js/jquery.hoverIntent.min.js')  }}"></script>
    <script src="{{  url_for('static',filename='template/assets/js/jquery.waypoints.min.js')  }}"></script>
    <script src="{{  url_for('static',filename='template/assets/js/superfish.min.js')  }}"></script>
    <script src="{{  url_for('static',filename='template/assets/js/owl.carousel.min.js')  }}"></script>
    <script src="{{  url_for('static',filename='template/assets/js/bootstrap-input-spinner.js')  }}"></script>
    <script src="{{  url_for('static',filename='template/assets/js/jquery.elevateZoom.min.js')  }}
    "></script>
    <script src="{{  url_for('static',filename='template/assets/js/bootstrap-input-spinner.js')  }}"></script>
    <script src="{{  url_for('static',filename='template/assets/js/jquery.magnific-popup.min.js')  }}"></script>
    <!-- Main JS File -->
    <script src="{{  url_for('static',filename='template/assets/js/main.js')  }}"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="  {{  url_for('static',filename='template/assets/js/bootstrap-slider.js')  }}" type="text/javascript"></script>
    <script>
      
    $(".thumb-holder").append('<div class="thumb-zoom"></div>')

    $( ".thumb-holder" ).mousemove(function(event) {
      
        var offset =  $(this).offset();
        var zoomX = event.pageX - offset.left - 70 ;
        var zoomY = event.pageY - offset.top  - 90;
      
      
        
        $('.thumb-zoom').css({
         'left' :zoomX,
         'top': zoomY, 
       })
        
         var position =  $( ".thumb-zoom" ).position();
         var image = $(".thumbnail").attr('src');
      
       $('.thumb-zoom').html('<img id="zoom-img" src="'+ image +'" >');
      
         $("#zoom-img").css({
           'left' : -zoomX - 100 ,
           'top': -zoomY - 70, 
         })
         
    });
    
    function GetSelectedValue(){
        
    var size=document.getElementById("size[]");
    var result = size.options[size.selectedIndex];
    sessionStorage.setItem('sizes',result.value);
    sessionStorage.getItem('sizes');
    var color=document.getElementById("color[]");
    var result1 = color.options[color.selectedIndex];
    sessionStorage.setItem('colors',result1.value);
    sessionStorage.getItem('colors');
    var count=document.getElementById("Count");
    sessionStorage.setItem('Count',count.value);
    sessionStorage.getItem('Count');
    }
 
</script>

</body>
{% endblock%}


</html>